<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/newstyle.css">
</head>
<body>
    <div class="container">
        <div class="post-card" style="background-color: #f0f0f0; border: 1px solid #ccc;">
            <h1>ID of Paste:{{.ID}}</h1>
            <h2>{{.Title}}</h2>
            <h3>{{.Content}}</h3>
        </div>
    </div>
</body>
</html>